.hikes {
    display: flex;
    width: 60%;
}

.image {
    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 85vh;
    height: 50vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center

}
#name{
    padding-bottom: 20;
    align-self: top;
}
#photo{
    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 85vh;
    height: 50vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}
.reactions {
    justify-self: center;
    margin-top: 65px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}